# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [ ]:
#importando bibliotecas
import pandas as pd
import numpy as np

In [ ]:
#Leitura do Arquivo titanic_data.csv
tit = pd.read_csv('/content/titanic_data.csv')

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [ ]:
#Qnt Linhas e Qnt Colunas
arquivo = tit.shape
print(arquivo)

(891, 12)

In [ ]:
#Tipos de dados associados a cada coluna
columArquivo = tit.dtypes
print(columArquivo)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [ ]:

tit.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:

tit.tail(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [ ]:
#Verifica se ha valores ausentes, somando esta quantidade e ordenando de forma decrescente
tit.isna().sum().sort_values(ascending=False)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [ ]:
#Caso exista valores NaN serão preenchidos com a media dos valores
tit.fillna(tit.mean())

<ipython-input-116-f8d792445c97>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tit.fillna(tit.mean())

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque,Prioritario,Sobrevivente
0,1,Não,3,"Braund, Mr. Owen Harris",Homem,22.000000,7.2500,NaN,S,False,False
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mulher,38.000000,71.2833,C85,C,True,True
2,3,Sim,3,"Heikkinen, Miss. Laina",Mulher,26.000000,7.9250,NaN,S,True,True
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mulher,35.000000,53.1000,C123,S,True,True
4,5,Não,3,"Allen, Mr. William Henry",Homem,35.000000,8.0500,NaN,S,False,False
...,...,...,...,...,...,...,...,...,...,...,...
886,887,Não,2,"Montvila, Rev. Juozas",Homem,27.000000,13.0000,NaN,S,False,False
887,888,Sim,1,"Graham, Miss. Margaret Edith",Mulher,19.000000,30.0000,B42,S,True,True
888,889,Não,3,"Johnston, Miss. Catherine Helen ""Carrie""",Mulher,29.699118,23.4500,NaN,S,True,False
889,890,Sim,1,"Behr, Mr. Karl Howell",Homem,26.000000,30.0000,C148,C,False,True
890,891,Não,3,"Dooley, Mr. Patrick",Homem,32.000000,7.7500,NaN,Q,False,False

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [ ]:
#Colunas Selecionadas para serem excluidas
colunas_para_excluir = ['SibSp','Parch','Ticket']
#Deleta as colunas
delete_colunas = tit.drop(colunas_para_excluir, axis = 1)
delete_colunas

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,NaN,Q

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [ ]:
#A partir da base acima, colunas foram renomeadas em portugues
colunas_para_excluir = ['SibSp','Parch','Ticket']
delete_colunas = tit.drop(colunas_para_excluir, axis = 1)
#Valores das colunas que serão substituidas
novo_nome_colunas = {'PassengerId': 'IdPassageiro', 'Survived': 'Sobreviveu', 'Pclass': 'Classe', 'Name': 'Nome', 'Sex': 'Sexo',
                      'Age': 'Idade', 'Fare': 'Tarifa', 'Cabin': 'Cabine', 'Embarked': 'Embarque'}
#Renomeando as colunas com os novos valores
tit = delete_colunas.rename(columns=novo_nome_colunas)
tit

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,NaN,Q

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [ ]:
#Alteração do conteudo da coluna
tit.Sobreviveu = tit['Sobreviveu'].replace({0:'Não',1:'Sim'})
tit

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,NaN,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,NaN,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",male,35.0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...
886,887,Não,2,"Montvila, Rev. Juozas",male,27.0,13.0000,NaN,S
887,888,Sim,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,Não,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,23.4500,NaN,S
889,890,Sim,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,Não,3,"Dooley, Mr. Patrick",male,32.0,7.7500,NaN,Q

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [ ]:
#Ateração conteudo da coluna
tit.Sexo = tit['Sexo'].replace({'female':'Mulher','male':'Homem'})
tit

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",Homem,22.0,7.2500,NaN,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mulher,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",Mulher,26.0,7.9250,NaN,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mulher,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",Homem,35.0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...
886,887,Não,2,"Montvila, Rev. Juozas",Homem,27.0,13.0000,NaN,S
887,888,Sim,1,"Graham, Miss. Margaret Edith",Mulher,19.0,30.0000,B42,S
888,889,Não,3,"Johnston, Miss. Catherine Helen ""Carrie""",Mulher,NaN,23.4500,NaN,S
889,890,Sim,1,"Behr, Mr. Karl Howell",Homem,26.0,30.0000,C148,C
890,891,Não,3,"Dooley, Mr. Patrick",Homem,32.0,7.7500,NaN,Q

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [ ]:
#Realiza a contagem de valores unicos
tit['Sexo'].value_counts()

Homem     577
Mulher    314
Name: Sexo, dtype: int64

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [ ]:

tit['Sobreviveu'].value_counts()

Não    549
Sim    342
Name: Sobreviveu, dtype: int64

11 - Quantas mulheres não sobreviveram?

In [ ]:
#variavel armazena agrupamento das colunas retornando a contagem dos elementos
mulheres_n_sobreviveram = tit.groupby(['Sexo', 'Sobreviveu']).size()
#variavel filtrando apenas as colunas especificas
mns = mulheres_n_sobreviveram['Mulher']['Não']
print(f'não sobreviveram {mns} Mulheres')

não sobreviveram 81 Mulheres

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [ ]:
#filtro dos sobreviventes
sobreviventes = tit.Sobreviveu == 'Sim'
filtro_sobrev = tit[sobreviventes]
#realiza o agrupamento das colunas especificas realizando a contagem dos elementos / pelo total dos sobreviventes
taxa_sobrev = filtro_sobrev.groupby(['Sexo','Sobreviveu']).size()/342
taxa_sobrev

Sexo    Sobreviveu
Homem   Sim           0.318713
Mulher  Sim           0.681287
dtype: float64

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [ ]:
#filtro dos não sobreviventes
p_mortas = tit[tit.Sobreviveu =='Não']
#atraves do filtro da coluna idade, retorna a idade a maior idade das pessoas mortas
maior_idade = p_mortas['Idade'].value_counts().max()
#retorna a quantidade de pessoas mortas
qnt_maior_mortos = p_mortas['Sobreviveu'].value_counts().max()
print(f'E o maior numero de mortos são: {qnt_maior_mortos} Pessoas')
print(f'Com a idade de: {maior_idade} anos')

E o maior numero de mortos são: 549 Pessoas
Com a idade de: 19 anos

14 - Qual a média de idade dos homens sobreviventes?

In [ ]:
#realiza filtro com mias de uma condição
media_homem = tit[(tit.Sexo == 'Homem') & (tit.Sobreviveu == 'Sim')]
#obtem a média de idade
media_idade = media_homem['Idade'].mean()
#arredondamento de idade media
media_idade_arredon = round(media_idade)
print(f'A média de idade é de {media_idade_arredon} anos')

A média de idade é de 27 anos

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [ ]:
#Cria uma nova coluna com  o filtro das colunas especificas
tit['Prioritario'] = (tit['Sexo'] == 'Mulher') | (tit['Idade'] <= 15)
#Cria uma nova coluna com  o filtro das colunas especificas
tit['Sobrevivente'] = (tit['Sobreviveu'] == 'Sim')
#atraves da nova coluna realiza o agrupamento das colunas especificas / pelo todas de sobreviventes
proporcao_sobreviventes = tit[tit['Prioritario']].groupby('Sexo')['Prioritario'].size() / 354
proporcao_sobreviventes

Sexo
Homem     0.112994
Mulher    0.887006
Name: Prioritario, dtype: float64

16 - Qual a quantidade de passageiros por classe?

In [ ]:
#agrupamentp da coluna espcifica
qnt_passageiros = tit.groupby(['Classe']).size()
qnt_passageiros

Classe
1    216
2    184
3    491
dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [ ]:
filtro_sobrev = tit[(tit.Sobreviveu == 'Sim')].groupby(['Classe','Sobreviveu']).size()
sobrev_classe = filtro_sobrev / tit.groupby('Sobreviveu').size() * 100
result_final = sobrev_classe.round(2).astype(str) + '%'
result_final

Classe  Sobreviveu
1       Sim           39.77%
2       Sim           25.44%
3       Sim            34.8%
dtype: object

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [ ]:

agrupamento = tit.groupby(['Sexo','Classe','Sobreviveu']).size()

tit2 = pd.DataFrame(agrupamento)
tit2

                            0
Sexo   Classe Sobreviveu
Homem  1      Não          77
              Sim          45
       2      Não          91
              Sim          17
       3      Não         300
              Sim          47
Mulher 1      Não           3
              Sim          91
       2      Não           6
              Sim          70
       3      Não          72
              Sim          72

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [ ]:
homem = tit[(tit.Sexo == 'Homem') & (tit.Sobreviveu == 'Sim') & (tit['Idade'].between(24,30))]
qnt_sobrev = homem.groupby(['Classe']).size()
qnt_sobrev = qnt_sobrev[3]
print(f'Sobreviveram {qnt_sobrev} homens da 3º classe')

Sobreviveram 12 homens da 3º classe

In [ ]:
homem = tit[(tit.Sexo == 'Homem') & (tit.Sobreviveu == 'Não') & (tit['Idade'].between(24,30))]
qnt_sobrev = homem.groupby(['Classe']).size()
qnt_sobrev = qnt_sobrev[2]
print(f'Não sobreviveram {qnt_sobrev} homens da 2º classe')

Não sobreviveram 24 homens da 2º classe